.carousel {

}

.carousel-controls {
    margin-top: 32px;
    // display: flex;
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    // flex-wrap: nowrap;
    
}

[class^="carousel-ctrl"] {
    // width: 40%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    align-self: center;
    line-height: normal;
    letter-spacing: 5.1px;
    text-transform: uppercase;
    color: #a7a7a7;
    * {
        display: block;
    }
    .time {
        letter-spacing: normal
    }
    &[aria-selected="true"] {
        color: #000000;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    }
}

.carousel-ctrl-next, .carousel-ctrl-prev {
    max-width: 20px;
    img {
        vertical-align: middle;
    }
}

@media all and (min-width: $desktopSize) {
    .carousel-controls {
        border: none;
        flex-wrap: nowrap;
        justify-content: center;
        display: flex;
    }
    [class^="carousel-ctrl"] {
        padding: 15px 30px;
    }
}