.hero {
    padding-top: 24px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    line-height: 1.31;
    h2 {
        font-weight: bolder;
        font-size: 2em;
    }
}


@media all and (min-width: $desktopSize) {
    .hero {
        h2 {
            font-size: 3em;
        }
    }

    .banner-ny {
        .article  {
            max-width: 606px;
            margin: auto;
            font-weight: 500;                
            margin-top: 35px;
            line-height: 1.57;
            font-size: 1rem;
            margin-bottom: 68px;
            letter-spacing: 1px;
            font-weight: 400
        }
    }
}