/*  Typography  */

body {
    font-family: 'Brandon';
    font-size: $fontSize;
}

@font-face {
    font-family: 'Brandon';
    src: url(/fonts/brandon_med-webfont.woff);
    font-weight: 500;
}

@font-face {
    font-family: 'Brandon';
    src: url(/fonts/brandon_bld-webfont.woff);
    font-weight: 700;
}

@font-face {
    font-family: 'Brandon';
    src: url(/fonts/brandon_reg-webfont.woff);
    font-weight: 400
}

@font-face {
    font-family: 'Brandon';
    src: url(/fonts/brandon_thin-webfont.woff);
    font-weight: 100;
}
a {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.upper {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 11px;
}

h4 {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

@media all and (min-width: $desktopSize) {
    body {
        font-size: 23px;
    }
}